@font-face {
  font-family: SegoeRegular;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGOEUI.TTF') format('woff');
}

@font-face {
  font-family: SegoeBold;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGOEUIB.TTF') format('woff');
}
  
@font-face {
  font-family: SegoeSemibold;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGUISB.TTF') format('woff');
}

@font-face {
  font-family: SegoeLight;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGOEUIL.TTF') format('woff');
}

@font-face {
  font-family: SegoeBlack;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGUIBL.TTF') format('woff');
}

@font-face {
  font-family: SegoeSemilight;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SEGOEUISL.TTF') format('woff');
}

  