:root {
  --color-primary: #6725A8;
  --color-secondary: #CB11AB;
  --color-bg-widget: #FFF;
  --color-bg: #F6F6FA;
  --color-bg-star: #FF970D;
  --color-black: #000;
  --color-coral: #FF3B30;
  --color-green: #0CB477;
  --color-orange: #F55123;
}