.product {
  display: grid;
  grid-template-columns: 34px 88px 275px 1fr 129px;
  grid-template-rows: 1fr;
  width: 100%;

  .checkbox {
    margin: 37.5px 0 0;
  }

  &__img {
    width: 72px;
    height: 96px;
    margin-right: 16px;
  }

  &__text {
    width: 100%;
    max-width: 250px;
    margin-right: 17px;

    &-title {
      margin-bottom: 8px;

      font-family: SegoeRegular, Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-black);
    }

    &-description {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 16px;
      color: var(--color-black);

      span {
        margin-right: 12px;
      }
    }

    &-company {
      font-size: 13px;
      line-height: 16px;
      color: var(--color-gray);

      div {
        display: flex;
        align-items: center;

        img {
          cursor: pointer;
          margin-left: 6px;
        }
      }
    }
  }

  &__price {
    overflow: hidden;
    justify-self: end;

    max-width: 110px;

    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-total {
      font-family: SegoeBold, Arial, sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-black);
      letter-spacing: -0.2px;
    }

    &-currency {
      font-family: SegoeBold, Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      line-height: 24px;
    }

    .product-discount {
      cursor: pointer;

      display: inline;

      font-size: 13px;
      line-height: 16px;
      color: var(--color-gray);
      text-decoration: line-through;

      border-bottom: 1px dashed var(--color-gray);

      .number {
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: var(--color-gray);
      }

      .currency {
        font-size: 13px;
        color: var(--color-gray);
        text-decoration: line-through;
        border-bottom: 1px dashed var(--color-gray);
      }
    }
  }
}

.product-wrapper {
  width: 100%;
  min-width: 640px;
  max-width: 891px;
  margin-bottom: 40px;
  padding-top: 11px;

  border-top: 1px solid rgb(0 0 0 / 10%);

  li {
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-wrapper--hidden {
  display: none;
}

.product-wrapper-soldout {
  width: 100%;
  max-width: 891px;
  padding-top: 11px;
  border-top: 1px solid rgb(0 0 0 / 10%);

  li {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-wrapper-soldout--hidden {
  display: none;
}

.product--soldout {
  grid-template-columns: 88px 1fr 1fr;

  .counter {
    margin-right: 126.8px;
  }

  .product__checkbox {
    display: none;
  }

  .product__img {
    filter: grayscale(100%);
  }

  .product__text {
    max-width: 300px;

    .product__text-title {
      color: var(--color-gray);
    }

    .product__text-description {
      span {
        color: var(--color-gray);
      }
    }

    .product__text-company {
      display: none;
    }
  }
}
