.product {
  display: grid;
  grid-template-columns: 34px 88px 275px 1fr 129px;
  grid-template-rows: 1fr;
  width: 100%;

  .checkbox {
    margin: 37.5px 0 0;
  }

  &__size-mobile {
    display: none;
  }

  &__img {
    width: 72px;
    height: 96px;
    margin-right: 16px;
  }

  &__text {
    width: 100%;
    max-width: 250px;
    margin-right: 17px;

    &-title {
      margin-bottom: 8px;

      font-family: SegoeRegular, Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-black);
    }

    &-description {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 16px;
      color: var(--color-black);

      span {
        margin-right: 12px;
      }
    }

    &-company {
      position: relative;
      font-size: 13px;
      line-height: 16px;
      color: var(--color-gray);

      .company {
        display: flex;
        align-items: center;

        img {
          cursor: pointer;
          margin-left: 6px;
        }
      }
    }
  }

  &__price {
    position: relative;

    justify-self: end;

    max-width: 110px;

    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-total {
      font-family: SegoeBold, Arial, sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-black);
      letter-spacing: -0.2px;
    }

    &-currency {
      font-family: SegoeBold, Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      line-height: 24px;
    }

    .product-discount {
      cursor: pointer;

      position: relative;

      display: inline;

      font-size: 13px;
      line-height: 16px;
      color: var(--color-gray);
      text-decoration: line-through;

      border-bottom: 1px dashed var(--color-gray);

      .number {
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: var(--color-gray);
      }

      .currency {
        font-size: 13px;
        color: var(--color-gray);
        text-decoration: line-through;
        border-bottom: 1px dashed var(--color-gray);
      }
    }
  }
}

.price-tooltip {
  top: 40px;
  right: -15px;
}

.product-wrapper {
  width: 100%;
  min-width: 640px;
  margin-bottom: 40px;
  padding-top: 11px;

  li {
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-wrapper--hidden {
  display: none;
}

.product-wrapper-soldout {
  width: 100%;
  padding-top: 11px;

  li {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-wrapper-soldout--hidden {
  display: none;
}

.product--soldout {
  grid-template-columns: 88px 1fr 1fr;

  .counter {
    margin-right: 126.8px;
  }

  .product__checkbox {
    display: none;
  }

  .product__img {
    filter: grayscale(100%);
  }

  .product__text {
    max-width: 300px;

    .product__text-title {
      color: var(--color-gray);
    }

    .product__text-description {
      span {
        color: var(--color-gray);
      }
    }

    .product__text-company {
      display: none;
    }
  }
}



.tooltip__content {
  &-title {
    margin-bottom: 8px;

    font-family: SegoeBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
  }

  &-ogrn {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
  }

  &-address {
    width: 100%;
    min-width: 248px;

    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
  }

  &-sale {
    display: flex;
    gap: 15px;

    .text {
      font-size: 13px;
      line-height: 16px;
    }

    .price {
      font-size: 13px;
      line-height: 16px;
      color: var(--color-black);
    }
  }
}

@media (width <= 700px) {
  .product {
    grid-template-columns: 80px 1fr 100px 129px;
    column-gap: 8px;

    .checkbox {
      position: absolute;
      margin: 4px;
    }

    &__img {
      width: 80px;
      height: 106px;
    }

    &__text{
      &-title {
        overflow: hidden;
        max-width: 230px;
        max-height: 50px;
        text-overflow: ellipsis;
      }

      &-company {
        .company {
          display: none;
        }
      }
    }
  }

  .product--soldout {
    grid-template-columns: 88px 1fr 100px;
  }
}

@media (width <= 530px) {
  .product-wrapper {
    margin-bottom: 30px !important;

    li {
      margin-bottom: 12px;
      border-bottom: 1px solid rgb(0 0 0 / 10%);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .product {
    grid-template: "img text price" 1fr "counter counter counter" 44px / 88px 4fr 1fr;
    padding-bottom: 16px;
                         
    &__img {
      grid-area: img;
    }

    &__text {
      grid-area: text;
      
      &-title {
        max-height: 40px;
        line-height: 20px;
      }
    }

    .counter {
      grid-area: counter;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      justify-self: unset;
      
      &__wrapper{
        width: 80px;
        margin-top: 13px;
        padding-left: 10px;

        &-number {
          width: 30px;
        }
      }

      &__count {
        width: 100%;
        margin-top: 11px;
        margin-left: 12px;
      }

      &__icons {
        gap: 23px;
        width: 80px;
        margin-top: 11px;
        margin-right: 12px;
      }
    }

    &__price {
      grid-area: price;
      height: 24px;
    }
  }

  .product-wrapper-soldout {
    li {
      margin-bottom: 12px;
      border-bottom: 1px solid rgb(0 0 0 / 10%);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .product--soldout {
    grid-template-areas: "img text"
      ". counter";
    grid-template-columns: 88px 1fr;

    .counter {
      justify-self: end;
      margin-right: 0;
    }                     
  }
}

@media (width <= 425px) {
  .product {
    position: relative;
    grid-template: "img price" 20px "img text" 1fr "counter counter" 44px / 88px 1fr;

    &__size-mobile{
      position: absolute;
      top: 80px;
      left: 4px;

      display: block;

      width: 22px;
      height: 22px;

      font-size: 14px;
      text-align: center;

      background-color: var(--color-white);
      border-radius: 6px;
    }                  

    &__text {
      margin-top: 6px;

      &-title {
        font-size: 14px;
      }

      &-description {
        .size {
          display: none;
        }
      }
    }                     

    &__price {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      justify-self: start;

      max-width: 200px;

      &-total {
        font-size: 16px;
      }

      .product-discount {
        border-bottom: none;
        border-bottom: 1px dashed var(--color-gray);
      }
    }
  }

  .product-wrapper-soldout {
    padding-top: 15px !important;

    .product--soldout {
      grid-template: "img text" 1fr ". counter" 36px / 88px 1fr;

      .product__text {
        margin-top: 0;
      }                    
      
      .counter {
        &__icons {
          margin-right: 6px;
        }
      }                     
    }
  }
}