.product {
  display: grid;
  grid-template-columns: 34px 88px 1fr 1fr 129px;
  grid-template-rows: 1fr;
  width: 100%;

  &__checkbox {
    position: relative;
    margin: 37.5px 0 0;

    &-input {
      cursor: pointer;

      width: 22px;
      height: 22px;

      appearance: none;
      border: none;
      border-radius: 5px;
      outline: 1px solid var(--color-gray);

      &:checked {
        background-color: var(--color-secondary);
        outline: none;
      }

      &:checked + label::before {
        cursor: pointer;
        content: "";

        position: absolute;
        top: 5px;
        left: 5px;

        width: 12.478px;
        height: 10.163px;

        background-image: url("../../icons/checkmark.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__img {
    width: 72px;
    height: 96px;
    margin-right: 16px;
  }

  &__text {
    width: 100%;
    max-width: 250px;
    margin-right: 17px;

    &-title {
      margin-bottom: 8px;

      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-black);
    }

    &-description {
      margin-bottom: 8px;

      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-black);

      span {
        margin-right: 12px;
      }
    }

    &-company {
      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-gray);

      div {
        display: flex;
        align-items: center;

        img {
          cursor: pointer;
          margin-left: 6px;
        }
      }
    }
  }

  &__price {
    justify-self: end;
    text-align: end;

    &-total {
      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: var(--color-black);
      letter-spacing: -0.2px;

      span {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-discount {
      cursor: pointer;

      display: inline;

      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      line-height: 16px;
      color: var(--color-gray);
      text-decoration: line-through;

      border-bottom: 1px dashed var(--color-gray);

      span {
        color: var(--color-gray);
      }
    }
  }
}

.product__wrapper {
  width: 100%;
  max-width: 891px;
  margin-bottom: 40px;
  padding-top: 11px;

  border-top: 1px solid rgb(0 0 0 / 10%);

  li {
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product__wrapper--hidden {
  display: none;
}

.product__wrapper-soldout {
  width: 100%;
  max-width: 891px;
  padding-top: 11px;
  border-top: 1px solid rgb(0 0 0 / 10%);

  li {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product__wrapper-soldout--hidden {
  display: none;
}

.product--soldout {
  grid-template-columns: 88px 1fr 1fr;

  .counter  {
    margin-right: 126.8px;
  }

  .product__checkbox {
    display: none;
  }

  .product__img {
    filter: grayscale(100%);
  }

  .product__text {
    max-width: 300px;

    .product__text-title {
      color: var(--color-gray);
    }

    .product__text-description {
      span {
        color: var(--color-gray);
      }
    }

    .product__text-company {
      display: none;
    }
  }
}

